.user-profile {
	margin: 20px auto;
	display: flex;
	flex-direction: column;

	&__details {
		display: flex;
		flex-direction: column;

		&--name,
		&--username,
		&--location,
		&--email {
			margin-bottom: 1.2rem;
			padding: 0;
		}
	}
}
