nav {
	display: flex;
	padding: 0.5em;

	.topbar {
		display: flex;
		justify-content: space-between;
		.logo {
			font-size: 2.5rem;
			margin: 0.1em;
		}

		.burger {
			margin: 1em;
			cursor: pointer;
			div {
				width: 25px;
				height: 2px;
				background-color: black;
				margin: 5px;
			}
		}
	}

	.nav-items {
		margin-top: 10px;
		list-style: none;
		display: flex;
		flex-direction: column;

		.nav-list-items {
			display: flex;
			flex-direction: column;
			align-content: space-between;
			margin-left: 10px;
			font-weight: 700;

			.nav-item {
				padding: 1.1em 0;
			}
		}
	}
}

.nav-items-dt {
	display: none;
}

.btn-ca {
	background: #018f01;
	color: #fff;
	text-align: center;
	display: inline-block;
	width: 100%;
	max-width: 770px;
}

.btn-ca:hover {
	background: #05ce05;
}

.logo-accent {
	color: #018f01;
}

.toggle-display-off {
	display: none !important;
}

// iPads, Tablets
@media (min-width: 481px) and (max-width: 768px) {
	.nav-items {
		.nav-list-items {
			flex-direction: row !important;
			justify-content: space-around !important;
			font-size: 110%;
		}
	}
}

// Small screens, laptops
@media (min-width: 769px) {
	nav {
		justify-content: center;
		.burger {
			display: none;
		}
		.nav-list-items,
		.nav-btn {
			display: none !important;
		}
	}

	.topbar {
		margin: 0 auto;
		.nav-items-dt {
			display: flex;
			margin-top: 1.2rem;
			list-style: none;
			font-size: 115%;
			.nav-item-dt {
				margin-right: 2rem;
				font-weight: 700;
			}
		}
	}
}
